layout {

  default_tab_template {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    children
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
  }

  tab split_direction="vertical" {
    pane {
      command "ssh" 
      args "-t" "waterfall_v2" "cd" "/home/dot/services/s44-waterfall-lead-manager;" "bash" "-l"
    }

    pane split_direction="horizontal" {
      pane size="40%"
      pane {
        command "ssh" 
        args "-t" "waterfall_v2" "cd" "/home/dot/services/s44-waterfall-lead-splitter;" "bash" "-l"
        size "60%"
      }
    }
  }
}
